name = "xmail-email-worker"
main = "src/index.ts"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[[d1_databases]]
binding = "DB"
database_name = "xmail-db"
database_id = "90dd129e-65d0-48b6-afa9-17a79e1f27cc"
